
\.ipynb_checkpoints/

*.hdf5


BigDataProject\.zip

\.DS_Store

\.idea/

sc/metastore_db/

sc/derby\.log

sc/Topics_Fat\.ipynb

sc/Clustering\(1\)\.ipynb

data/ArchiveData/

data/raw_data\.csv

data/topics/

data/tmp_data\.parquet
